<web-app>
    <display-name>Compta</display-name>
    <servlet>
        <servlet-name>AllData</servlet-name>
        <servlet-class>accountancy.server.AllData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Types</servlet-name>
        <servlet-class>accountancy.server.Types</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Banks</servlet-name>
        <servlet-class>accountancy.server.Banks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Currencies</servlet-name>
        <servlet-class>accountancy.server.Currencies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accounts</servlet-name>
        <servlet-class>accountancy.server.Accounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>accountancy.server.Categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategories</servlet-name>
        <servlet-class>accountancy.server.SubCategories</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AllData</servlet-name>
        <url-pattern>/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Types</servlet-name>
        <url-pattern>/type/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Banks</servlet-name>
        <url-pattern>/bank/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Currencies</servlet-name>
        <url-pattern>/currency/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accounts</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategories</servlet-name>
        <url-pattern>/subcategory/*</url-pattern>
    </servlet-mapping>
</web-app>